.upper-content #name{
    font-size: 50px;
}
.upper-content a,
.icons a{
    text-decoration: none;
}
.upper-content a{
    color: green;
}
.icons a{
    color: black;
    margin-right: 30px
}
.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 300px 0 300px;
}
.upper-content{
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.main-content #photo-index{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.main-content #personal-info{
    text-align: center;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
*{
    font-family: 'Combo', cursive;
}
.icons{
    display: flex;
    justify-content: center;
}
#final-content{
    margin-bottom: 50px;
}