.upper-content #name{
    font-size: 50px;
}
a{
    text-decoration: none;
}
.upper-content a{
    color: green;
}
.icons a{
    color: black;
    margin: 0 15px 0 15px
}
.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0 300px 0 300px; */
}
.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}
.links a:hover{
    scale: 120%;
}
.icons a:hover{
    scale: 140%;
}
.upper-content{
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.main-content #photo-index{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 30px
}
.main-content #personal-info{
    text-align: center;
    line-height: 28px;
    font-size: 18px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
*{
    font-family: 'Poppins', sans-serif;
}
.icons{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.icons a{
    font-size: 25px;
}
#final-content{
    margin-top: 5px;
    font-size: 18px
}
.point{
    height: 8px;
    width: 8px;
    background-color: green;
    border-radius: 50%;
}
#google-scholar{
    width: 32px
}
body{
    width: 600px;
    margin: 0 auto;
}
h1{
    margin: 20px 0 10px 0
}
.personal-info-links,
.personal-info-links:visited{
    color: rgb(94, 198, 233);
}
