*{
    font-family: 'Poppins', sans-serif;
}
body{
    width: 600px;
    margin: 0 auto;
}

.links a{
    text-decoration: none;
    color: green
}

.point{
    height: 8px;
    width: 8px;
    background-color: green;
    border-radius: 50%;
}
a{
    text-decoration: none;
}
#google-scholar-link{
    color: rgb(94, 198, 233);
}
.publication-wrapper{
    margin-bottom: 50px
}

.publication-wrapper:last-child{
  margin-bottom: 75px
}
.award-wrapper{
    display:flex;
    align-items: center;
}
.title{
    font-weight: bold;
    margin-bottom: 8px;
}
.authors,
.journal{
    color: rgb(124, 122, 122)
}
.journal{
    font-style: italic;
    margin-top: 20px
}

.doi-links,
.doi-links:visited{
    color: rgb(94, 198, 233);
}

.bold_text{
  font-weight: bold;
  color: rgb(105,105,105)
}

#intro_publications{
  margin-bottom: 75px
}
#title_conferences{
  margin-top: 50px
}

h2{
  text-align: center;
  margin-bottom: 30px
}
#awards_section{
  margin-bottom: 50px
}
.prize_icon{
  font-size:25px;
  margin-right: 10px;
}


@media only screen and (max-width: 576px) {

  *{
      font-size: 15px;
  }
  h1{
    font-size: 28px;
  }
  h2{
    font-size: 23px;
  }
  #intro_publications {
    margin-bottom: 50px;
}
}
