*{
    font-family: 'Poppins', sans-serif;
}
body{
    width: 600px;
    margin: 0 auto;
    background-color: rgb(255,254,246);
}
a{
  text-decoration: none
}
.upper-content a{
    color: rgb(48,57,189);
}
.upper-content #name{
    font-size: 50px;
}
.upper-content{
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}
.point{
    height: 8px;
    width: 8px;
    background-color: rgb(48,57,189);
    border-radius: 50%;
}
.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    margin: 50px 0 60px 0;
}
.links a:hover{
    scale: 120%;
}
.icons a{
    color: black;
    margin: 0 15px 0 15px
}
.icons a:hover{
    scale: 140%;
}
.icons{
    margin: 25px 0 25px 0;
    display: flex;
    justify-content: center;
}
.icons a{
    font-size: 25px;
}
